In [27]:
import pandas as pd
import plotly
import numpy as np
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import shutil
from datetime import date

In [28]:
"""
shutil.copy(r'N:\Outcomes\Dashboards\Project Roomkey Dashboards\Sql Data\tbl_dashboard_PRK04_Assessments.xlsx'
         , r'N:\Outcomes\Dashboards\Project Roomkey Dashboards\Sql Data\Tier 1 Reports\Projection\tbl_dashboard_PRK04_Assessments.xlsx')
"""

"\nshutil.copy(r'N:\\Outcomes\\Dashboards\\Project Roomkey Dashboards\\Sql Data\tbl_dashboard_PRK04_Assessments.xlsx'\n         , r'N:\\Outcomes\\Dashboards\\Project Roomkey Dashboards\\Sql Data\\Tier 1 Reports\\Projection\tbl_dashboard_PRK04_Assessments.xlsx')\n"

In [29]:

df = pd.read_csv("fallecidos_covid.csv",encoding = "ISO-8859-1", engine='python')

In [30]:
# this is to record only household with a Tier-1 Assessment
df['DEPARTAMENTO'] = df['DEPARTAMENTO'].replace(['LIMA REGION'],'LIMA')

In [31]:
#df['FECHA_FALLECIMIENTO'] = pd.to_datetime(df['FECHA_FALLECIMIENTO'])
df["FECHA_FALLECIMIENTO"] = df['FECHA_FALLECIMIENTO'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33512 entries, 0 to 33511
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FECHA_CORTE          33512 non-null  int64
 1   UUID                 33512 non-null  object
 2   FECHA_FALLECIMIENTO  33512 non-null  datetime64[ns]
 3   EDAD_DECLARADA       33512 non-null  int64
 4   SEXO                 33512 non-null  object
 5   FECHA_NAC            31744 non-null  float64
 6   DEPARTAMENTO         33512 non-null  object
 7   PROVINCIA            32233 non-null  object
 8   DISTRITO             32763 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 2.3+ MB

In [33]:
df.head()

,FECHA_CORTE,UUID,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,FECHA_NAC,DEPARTAMENTO,PROVINCIA,DISTRITO
0,20201013,7320cabdc1aaca6c59014cae76a134e6,2020-03-19,78,MASCULINO,19411013.0,LIMA,LIMA,SANTIAGO DE SURCO
1,20201013,e81602051997ace8340bb8c18fe24c65,2020-03-19,69,MASCULINO,19510305.0,LIMA,LIMA,MIRAFLORES
2,20201013,cecdbf10074dbc011ae05b3cbd320a6f,2020-03-21,83,MASCULINO,19390817.0,PIURA,SULLANA,MARCAVELICA
3,20201013,71ecb6bccb248b0bb2ac72ed51b5e979,2020-03-24,65,FEMENINO,19540104.0,LA LIBERTAD,TRUJILLO,TRUJILLO
4,20201013,566af4276cbe9359abe93f9aa86396c3,2020-03-24,76,MASCULINO,NaN,CUSCO,CUSCO,CUSCO

In [34]:
test = df.pivot_table(values='UUID', columns='DEPARTAMENTO', index='FECHA_FALLECIMIENTO',fill_value=0, aggfunc='count')

In [35]:
test= test.rename_axis(None, axis=1)
#test = test.reset_index()
test.head()

,AMAZONAS,ANCASH,APURIMAC,AREQUIPA,AYACUCHO,CAJAMARCA,CALLAO,CUSCO,HUANCAVELICA,HUANUCO,...,LORETO,MADRE DE DIOS,MOQUEGUA,PASCO,PIURA,PUNO,SAN MARTIN,TACNA,TUMBES,UCAYALI
FECHA_FALLECIMIENTO,,,,,,,,,,,,,,,,,,,,,
2020-03-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2020-03-22,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [36]:
df = test

In [37]:
#df = bcr.load_dataset('covid19_tutorial')

In [38]:
df.cumsum().head()

,AMAZONAS,ANCASH,APURIMAC,AREQUIPA,AYACUCHO,CAJAMARCA,CALLAO,CUSCO,HUANCAVELICA,HUANUCO,...,LORETO,MADRE DE DIOS,MOQUEGUA,PASCO,PIURA,PUNO,SAN MARTIN,TACNA,TUMBES,UCAYALI
FECHA_FALLECIMIENTO,,,,,,,,,,,,,,,,,,,,,
2020-03-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2020-03-22,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [39]:
import bar_chart_race as bcr
#df = bcr.load_dataset('covid19_tutorial')
bcr.bar_chart_race(
    df=df.cumsum(),
    filename='test.mp4',
    #filename= None,
    orientation='h',
    sort='desc',
    n_bars=10,
    fixed_order=False,
    fixed_max=True,
    steps_per_period=10,
    interpolate_period=False,
    label_bars=True,
    bar_size=.95,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    period_fmt='%B %d, %Y',
    period_summary_func=lambda v, r: {'x': .99, 'y': .18,
                                      's': f'Number of Deaths: {v.nlargest(6).sum():,.0f}',
                                      'ha': 'right', 'size': 8, 'family': 'Courier New'},
    perpendicular_bar_func='median',
    period_length=350,
    figsize=(5, 3),
    dpi=144,
    cmap='dark12',
    title='Covid-19 Deaths in Peru (by Department)',
    title_size='',
    bar_label_size=7,
    tick_label_size=7,
    shared_fontdict={'family' : 'Helvetica', 'color' : '.1'},
    scale='linear',
    writer=None,
    fig=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=True)

D:\Felix\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
D:\Felix\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))